<div class="container_horizontal_column">
    <h3>save new layout</h3>

    <form action='/users/{{user._id}}/layouts' method="POST">
        <div class="container_horizontal_column">
            <label for="name" class="label">name:</label>
            <br>
            <input type="text" name="name" placeholder="name">
            <br>
            <div class="layout_img_container">
            <img class="layout_img" src="#" alt="picture of layout" id="layout_pic" class="hidden">
            </div>
            <label for="img" class="label">link to picture of layout:</label>
            <br>
            <input type="text" name="img" placeholder="img link"id="layout_pic_link">
            <br>
            <label for="num_of_cards" class="label">How many cards are in this layout:</label>
            <br>
            <input type="number" name="num_of_cards" placeholder="number of cards">
            <br>
            <label for="description" class="label">What does each card mean:</label>
            <br>
            <textarea name="description" cols="40" rows="5"></textarea>
            <br>
            <input class="button small_button" type="submit" value="Save">
        </div>
        
    </form>
     <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="/javascripts/new_layout.js"></script>