<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Sacramento|Questrial|Poiret+One|Sue+Ellen+Francisco" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="container_horizontal_column">
      <h1>Spreads</h1>
      <div class="tagline">{{tagline}}</div>
    </header>
    <nav class="container_horizontal_center">
      <a href="#">card meanings</a>
      <a href="#">layouts</a>
    </nav>
    <div class="body">
      
    {{{body}}}
    </div>
    <div class="footer">
      </div>
      <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
      <script src="/javascripts/main.js"></script>
      <script src="/javascripts/cards.js"></script>
  </body>
</html>
