<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico|Questrial" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="container_horizontal_column">
      <h1>Spreads</h1>
      <div class="tagline">{{tagline}}</div>
    </header>
    <nav class="container_horizontal_center">
      <a href="#">card meanings</a>
      <a href="#">layouts</a>
    </nav>
    {{{body}}}
  </body>
</html>
