<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="container_horizontal_column">
    <a href="/users"><h1>Spreads</h1></a>
    <div class="tagline">{{tagline}}</div>
  </header>
  <nav class="container_horizontal_center">
    <a href="/tarotmeanings">card meanings</a>
    <a href="#">layouts</a>
  </nav>
  <div class="body">

    {{{body}}}
  </div>
  
</body>

</html>