<div class="container_center"><h1>Tarot Card Meanings</h1></div>
<div class="container_column_left">
<p>Tarot is an ancient tool used to get in touch with your
    subconcious. The archetypes on the cards represent different aspects
    of our culture, beliefs, and systems.  When you get a 'reading', you 
    are merely giving yourself tools to access these things within you.  So,
    while each card has specific 'meanings', they are pretty broad and completely
    up to you to interpret.
</p>
<ul id="tarot_list">

</ul>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="/javascripts/cards.js"></script>
    <script src="/javascripts/show_card_meanings.js"></script>