body {
  padding: 0;
  margin: 0;
}
.body {
  height: 70vh;
}
h1 {
  font-family: Helvetica, sans-serif;
  font-size:30px;
  margin:0px;
}
a h1{
  color: white;
}
a h1:hover, a h1:focus{
  color: #00A6B3;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  text-align: center;
}
h3 {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
h4 {
  font-family: Helvetica, sans-serif;
}
.user_name{
  color: #212F3D;
}
.user_name:hover, .user_name:focus{
  color: #00A6B3;
}
header{
  background-color: #212F3D;
  padding: 0px;
  color: white;
}
nav{
  background-color: #00A6B3;
  padding: 5px;
  margin-bottom: 5px;
}
.tagline {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size:2vh;

}
a{
  text-decoration: none;
}
nav a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin: 5px;
  text-align: center;
}
nav a:hover, nav a:focus {
  color: rgb(64, 92, 119);
}
.container_horizontal_spread{
  display: flex;
  justify-content: space-around;
}
.container_horizontal_center{
  display: flex;
  justify-content: center;
}
.container_horizontal_column{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.container_center{
  margin-bottom: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.container_column_left{
  display:flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}
button{
  border: none;
}
.large_button{
  background-color: rgb(0, 166, 179);
  font-size: 25px;
  margin: 5px;
  font-family: Helvetica, sans-serif;
}
.large_button a {
  color:white;
}
.large_button:hover, .large_button:focus {
  
  background-color:rgb(152, 216, 221);
  cursor: pointer;
}
.small_button{

  background-color: rgb(0, 166, 179);
  font-size: 20px;
  margin: 10px;
  font-family: Helvetica, sans-serif;
}
.small_button a {
  color:white;
}
.small_button:hover, .small_button:focus {
  
  background-color:rgb(152, 216, 221);
  cursor: pointer;
}

.container_flex_group{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.white_box{
  width: 125px;
  height: 125px;
  background: white;
  box-shadow: 3px 3px 5px 6px #ccc;
  display:flex;
  flex-direction: center;
  justify-content: center; 
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.white_box:hover, .white_box:focus{
  background: rgb(152, 216, 221);
}
.picture_box{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

img{
  max-height: 100%;
  width: auto;
}

label{
  font-family: Helvetica, sans-serif;
}
input[type=text], input[type=number] {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px; 
  height: 30px;
  width: 50vw;
  border: 1px solid #ccc; 
  margin-top: 2px;
  margin-bottom: 8px;
}

.button_large_red{
  background-color: rgb(223, 80, 55);
  font-size: 40px;
  margin: 5px;
  font-family: Helvetica, sans-serif;
}
.button_large_red a {
  color:white;
}


.button_small_red{
  
  background-color: rgb(223, 80, 55);
  font-size: 20px;
  margin: 10px;
  font-family: Helvetica, sans-serif;
}

.button_large_red:hover, .button_large_red:focus, 
.button_small_red:hover, .button_small_red:focus {
  background-color:rgb(12, 29, 31);
  color: white;
  
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

table, th, td {
  font-family: Helvetica, sans-serif;
  color: #212F3D;
  border: 1px solid  rgb(0, 166, 179);
  padding: 15px;
  text-align: center;
}
li{
  list-style-type: none;
  margin: 20px;
  display: inline;
}
p{
  font-family: Helvetica, sans-serif;
}
.hidden{
  display: none;
}

span{
  margin: 20px;
}

.tiny_pic{
  height: 40px;
}
.layout_img{
  max-width: 100%;
  height: auto;
}
.layout_img_container{
  max-width: 50vw;
}
textarea{
  font-family: Helvetica, sans-serif;
  font-size:20px;
  width: 50vw;
}
ul{
  padding: 0px;
  margin: 0px;
}
.card_description{
  font-size: 14px;
}
.card_description_img{
  margin-right: 5px;
}