<div class="body">
    <div class="container_horizontal_column">
        <h2>{{user.name}}</h2>
        <button class="large_button">GET 3 Card
            <br>Reading</button>
        <div class="container_flex_group">
            <button class="small_button">See Past Readings</button>
            <button class="small_button">See Favorite Layouts</button>
        </div>
    </div>
    <div class="container_center">
    <a href="/users">
        <button class="small_button">back to all users</button>
    </a>
    </div>
</div>